.filter-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 540px;
    margin: 0 0.5vw;
    padding: 1vh 3vw;
    background-color: #2f0c5c;
    color: #fff;
}

.filter-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-selector img {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    padding: 3px;
}

.order-selector-button {
    opacity: 0;
    width: 0;
}

.order-selector-button + label img {
    background-color: #aaa;
}

.order-selector-button:checked + label img {
    background-color: #999;
}

#projects {
    margin: 0 0.5vw;
    background-color: #f1f1f1;
    padding: 1vh 0.5vw;
    min-width: 540px;
}

.project {
    margin-bottom: calc(max(3vh,30px));
    background-color: #fff;
    padding: 3px 3px 10px;
}

.project:last-child {
    margin-bottom: 0;
}

.project summary {
    cursor: pointer;
    list-style: none;
}

.project h2 {
    padding: 0;
    margin: 0;
}

.project .project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 0 3px;
    border-bottom: 1px solid #000;
}

.project .language-indicator {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.language-indicator-child {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.language-indicator-child img {
    width: 20px;
    height: 20px;
    padding: 3px;
}

.project .time-indicator {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project .time-indicator img {
    width: 20px;
    height: 20px;
    padding: 3px;
}

.project .project-main {
    background-color: rgba(238, 209, 240,0.5);
    border-radius: 10px;
    padding: 0 5px 5px;
}

.project .project-main h3 {
    padding: 10px 0 0;
    margin: 0 0 0 calc(min(20%,30px));
    font-weight: 300;
    border-bottom: 1px solid #000;
    width: fit-content;
}

.project .project-main p {
    margin: 5px 0 0 calc(10px + min(20%,30px));
}

.project .project-main ul {
    margin: 7px 0 10px;
    list-style-type: none;
}

.project .project-main ul li {
    padding: 5px;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.project .project-main .project-technologies li {
    border: 8px inset rebeccapurple;
    background-color: #9c63d6;
}

.project .project-main .project-achievements li {
    border: 8px inset goldenrod;
    background-color: gold;
    padding: 8px;
}

.project .project-main .project-links li {
    border: 8px inset royalblue;
    background-color: #7490e3;
}

.project .project-technologies, .project .project-links, .project .project-achievements {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-auto-rows: minmax(30px, auto);
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .filter-projects {
        flex-direction: column;
        align-items: center;
        min-width: 0;
        padding: 10px;
        margin: 0;
    }

    .filter-selector {
        margin-bottom: 1vh;
    }

    .order-selector-button {
        display: none;
    }

    #projects {
        min-width: 0;
    }
}